<%= @posts.each do |post| %>
	<div class="post_wrapper">
	  	<div class="title">
			<%= link_to post do %>
	  		<span><%= link_to post.title, post %></span>
	  	</div>
	  	<p>
	  		<%= link_to post do %>
	    		<%= image_tag post.image.url(:thumb) if post.image.present? %>
    		<% end %>
	    </p>
	    <p class="date">
	    	<%= link_to post do %>
	      		<%= post.created_at.strftime("%B, %d, %Y") %>
      		<% end %>
	    </p>
	  </div>
<% end %>