<!DOCTYPE html>
<html>
<head>
  <title>Savings</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">
	<ul>
		<li><%= link_to 'Coupons', root_path %></li>
		<li><%# link_to '' %></li>
		<% if user_signed_in? %>
			<li><%= link_to "New Coupon", new_post_path %></li>
			<li><%= link_to('Log Out', destroy_user_session_path, :method => :delete) %></li>
			<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>
		<% else %>
		<%# if !user_signed_in? %>
			<li><a href="./users/sign_in">Sign In</a></li>
		<% end %>
	</ul>
</div>


<div class="posts">
	<%= yield %>
</div>
<div class="ad">
	<div class="add_space">
		<p>An Ad</p>
	</div>
	<div class="add_space">
		<p>An Ad</p>
	</div>
	<div class="add_space">
		<p>An Ad</p>
	</div>
</div>

</body>
</html>
